/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Sep-2014, 11:03:52 AM
    Author     : Lindsey
*/
root {
    display: block;
}

#header {
    color: #0000FF;
    font-size: 200%;
}

.odd{
    background-color: #EEEEFF;
}

.even {
    background-color: #FFFFFF;
}

.tbl_header{
    background-color: #AAAAEE;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Sep-2014, 1:56:08 PM
    Author     : Lindsey
*/

